<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login Frontend</title>
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container">
        <div class="py-5 text-center">
            <h2>Login now</h2>
        </div>

        <div class="row">

            <div class="col-md-8 order-md-1">
                <form class="needs-validation" action="" method="POST">

                    <div class="mb-3">
                        <label>Username
                            <span class="text-muted red">*</span>
                        </label>
                        <input type="text" name="username" class="form-control" placeholder="Enter Username">
                    </div>

                    <div class="mb-3">
                        <label>Username
                            <span class="text-muted red">*</span>
                        </label>
                        <input type="password" name="password" class="form-control" placeholder="Enter Password">
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Sign in</button>
                </form>
            </div>
        </div>

    </div>

</body>

</html>