<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <%- include("../style") %>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>List Categories</h1>

                <div class="search-form">
                    <%- include("./search") %>
                </div>

                <div class="table-responsive">
                        <%- include("./table-data") %>
                </div>

            </div>
        </div>
    </div>

    <%- include("../script") %>

    <script src="/backend/javascript/pages/category.js"></script>
    <script>
        Cateogry.init();
    </script>
</body>

</html>